[Unit]
Description=Discord Bot
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/discord-ai-bot
ExecStart=/home/ubuntu/discord-ai-bot/venv/bin/python3 /home/ubuntu/discord-ai-bot/main.py
Restart=always
RestartSec=10
Environment=PATH=/home/ubuntu/discord-ai-bot/venv/bin

[Install]
WantedBy=multi-user.target
